version: "3"
services:
  plex:
    image: "plexinc/pms-docker"
    restart: "unless-stopped"
    environment:
      TZ: "America/Los_Angeles"
      ADVERTISE_IP: "https://plex.hnxlabs.com"
      PLEX_UID: 1000
      PLEX_GID: 119
      PLEX_CLAIM: "claim-czWtebqPZPjKX9tBJQQc" 
    volumes:
      - "/home/abrar/media:/data"
      - "/home/abrar/media/transcode:/transcode"
      - "/home/abrar/docker/plex/config:/config"
    ports:
      - "32400:32400/tcp"
      - "3005:3005/tcp"
      - "8324:8324/tcp"
      - "32469:32469/tcp"
      - "1900:1900/udp"
      - "32410:32410/udp"
      - "32412:32412/udp"
      - "32413:32413/udp"
      - "32414:32414/udp"
  pihole:
    image: "pihole/pihole"
    restart: "unless-stopped"
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "67:67/udp"
      - "8081:80/tcp"
      - "8443:443/tcp"
    environment:
      TZ: "America/Los_Angeles"
    volumes:
      - "/home/abrar/docker/pihole:/etc/pihole"
      - "/home/abrar/docker/pihole/dnsmasq.d:/etc/dnsmasq.d"
    dns:
      - "127.0.0.1"
      - "8.8.8.8"
  transmission:
    image: linuxserver/transmission
    environment:
      PUID: 1000
      PGID: 119
      TZ: "America/Los_Angeles"
    volumes:
      - "/home/abrar/docker/transmission/config:/config"
      - "/home/abrar/media:/downloads"
    ports:
      - "9091:9091"
      - "51413:51413"
      - "51413:51413/udp"
    restart: "unless-stopped"
  owncloud:
    image: "owncloud/server"
    restart: "unless-stopped"
    ports:
      - "8082:80"
    depends_on:
      - "ocdb"
      - "ocredis"
    environment:
      OWNCLOUD_DB_TYPE: "mysql"
      OWNCLOUD_DB_NAME: "owncloud"
      OWNCLOUD_DB_HOST: "ocdb"
      OWNCLOUD_DB_USERNAME: "ocuser"
      OWNCLOUD_DB_PASSWORD: "octemppassword"
      OWNCLOUD_MYSQL_UTF8MB4: "true"
      OWNCLOUD_REDIS_ENABLED: "true"
      OWNCLOUD_REDIS_HOST: "ocredis"
    volumes:
      - "/home/abrar/docker/ocdata:/mnt/data"
  ocdb:
    image: "mariadb"
    restart: "unless-stopped"
    environment:
      MYSQL_ROOT_PASSWORD: "temp1234"
      MYSQL_USER: "ocuser"
      MYSQL_PASSWORD: "octemppassword"
      MYSQL_DATABASE: "owncloud"
    volumes:
      - "/home/abrar/docker/ocdb:/var/lib/mysql"
  ocredis:
    image: "redis:alpine"
    restart: "unless-stopped"


