version: "3"
services:
  plex:
    image: "plexinc/pms-docker"
    restart: "unless-stopped"
    env_file:
      - "plex.env"
    volumes:
      - "/home/abrar/media:/data"
      - "/home/abrar/media/transcode:/transcode"
      - "/home/abrar/docker/plex/config:/config"
    ports:
      - "32400:32400/tcp"
      - "3005:3005/tcp"
      - "8324:8324/tcp"
      - "32469:32469/tcp"
      - "1900:1900/udp"
      - "32410:32410/udp"
      - "32412:32412/udp"
      - "32413:32413/udp"
      - "32414:32414/udp"
  pihole:
    image: "pihole/pihole"
    restart: "unless-stopped"
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "67:67/udp"
      - "8081:80/tcp"
      - "8443:443/tcp"
    environment:
      TZ: "America/Los_Angeles"
      DNS1: "8.8.8.8"
    volumes:
      - "/home/abrar/docker/pihole:/etc/pihole"
      - "/home/abrar/docker/pihole/dnsmasq.d:/etc/dnsmasq.d"
    dns:
      - 127.0.0.1
      - 8.8.8.8
  transmission:
    image: "linuxserver/transmission"
    environment:
      PUID: 1000
      PGID: 119
      TZ: "America/Los_Angeles"
    volumes:
      - "/home/abrar/docker/transmission/config:/config"
      - "/home/abrar/media:/downloads"
    ports:
      - "9091:9091"
      - "51413:51413"
      - "51413:51413/udp"
    restart: "unless-stopped"
  haproxy:
    image: 'haproxy:alpine'
    restart: "unless-stopped"
    depends_on:
      - plex
      - transmission
      - letsencrypt
      - pihole
    volumes:
      - "/home/abrar/ubuntu-configs/confs:/usr/local/etc/haproxy:ro"
    ports:
      - "443:443"
      - "80:80"
  letsencrypt:
    image: "linuxserver/letsencrypt"
    restart: "unless-stopped"
    environment:
      PUID: 1000
      PGID: 119
      TZ: "America/Los_angeles"
      URL: "hnxlabs.com"
      SUBDOMAINS: "plex,bt"
      VALIDATION: "http"
      STAGING: "true"
    volumes:
      - "/home/abrar/docker/letsencrypt:/config"
    ports:
      - "8082:80"
      - "8083:443"