version: "3"
services:
  plex:
    image: "linuxserver/plex"
    restart: "unless-stopped"
    network_mode: "host"
    env_file:
      - "plex.env"
    volumes:
      - "/home/abrar/media:/data:ro"
      - "/home/abrar/media/transcode:/transcode"
      - "/home/abrar/docker/plex/config:/config"
    ports:
      - "1900:1900/udp"
      - "32469:32469/tcp"

  pihole:
    image: "pihole/pihole"
    restart: "unless-stopped"
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "67:67/udp"
    environment:
      TZ: "America/Los_Angeles"
      DNS1: "8.8.8.8"
    volumes:
      - "/home/abrar/docker/pihole:/etc/pihole"
      - "/home/abrar/docker/pihole/dnsmasq.d:/etc/dnsmasq.d"
    dns:
      - 127.0.0.1
      - 8.8.8.8
    extra_hosts:
      - "plex.hnxlabs.com:192.168.0.7"

  haproxy:
    image: 'haproxy:alpine'
    restart: "unless-stopped"
    depends_on:
      - plex
      - transmission
      - letsencrypt
      - pihole
    volumes:
      - "/home/abrar/ubuntu-configs/docker/configs:/usr/local/etc/haproxy:ro"
      - "/home/abrar/docker/letsencrypt/etc/letsencrypt/live:/ssl:ro"
      - "/var/lib/haproxy/dev/log:/dev/log"
    ports:
      - "443:443"
      - "80:80"
      - "5555:5555"

  letsencrypt:
    image: "linuxserver/letsencrypt"
    restart: "unless-stopped"
    environment:
      PUID: 1000
      PGID: 998
      TZ: "America/Los_angeles"
      URL: "hnxlabs.com"
      SUBDOMAINS: "plex,bt,pihole"
      VALIDATION: "http"
      STAGING: "false"
      ONLY_SUBDOMAINS: "true"
    volumes:
      - "/home/abrar/docker/letsencrypt:/config"
      
  transmission:
    image: "haugene/transmission-openvpn"
    restart: "unless-stopped"
    volumes:
      - "/home/abrar/media:/downloads"
      - "/etc/localtime:/etc/localtime:ro"
    env_file:
      - "transmission.env"
    cap_add:
      - NET_ADMIN

